<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.cachedemo.MultitestMapper" >
  <resultMap id="BaseResultMap" type="com.example.cachedemo.Multitest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="db_type" property="dbType" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="birth" property="birth" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, db_type, remark, birth
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from multitest
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from multitest
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.cachedemo.Multitest" >
    insert into multitest (id, db_type, remark, 
      birth)
    values (#{id,jdbcType=INTEGER}, #{dbType,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR}, 
      #{birth,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.cachedemo.Multitest" >
    insert into multitest
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dbType != null" >
        db_type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="birth != null" >
        birth,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dbType != null" >
        #{dbType,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.cachedemo.Multitest" >
    update multitest
    <set >
      <if test="dbType != null" >
        db_type = #{dbType,jdbcType=CHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.cachedemo.Multitest" >
    update multitest
    set db_type = #{dbType,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      birth = #{birth,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>